%form(action='#' method='post' id='form-ajax' )
  %input( type='hidden' name='uuid' value="#{ uuid }" )
  %button() fetch processing status

%p uuid is #{uuid}

%p result:
%textarea( id='result' rows='5' disabled style="width: 100%;")

<script src='/js/get_post_status.js'></script>
