%html
  %body
    %ul.headerlist
      %li <a href='/'>home</a>
      %li <a href='/table'>table (show all)</a>
      %li <a href='/process'>launched process</a>
      %li <a href='/running'>runnning tasks</a>
      %li <form action='/reload' method='post'><button type='submit'>reload_config</button></form>
    %hr
    = yield
