%p table

%table(border="1")
  %thead
    %tr
      - for h in @table.headers
        %th= h.to_s
  %tbody
    - for i in 0...(@table.size)
      - col = @table[i]
      %tr
        - for header, cell in col 
          %td= cell

