%h1 views/table.haml

%table(border="1")
  %thead
    %tr
      - for h in @display_cols.map{|i| @table.headers[i] }
        %th= h.to_s
  %tbody
    - for row_n in 0...(@table.size)
      - row = @table[row_n]
      %tr
        - for cell in @display_cols.map{|i| row[i]}
          %td= cell.to_s
        %td
          %input(type="checkbox" name="#{1}")= row_n.to_s
          -# %button(type="button" name="#{1}")= row_n.to_s

